
<div class="justify-content-between" >
  <div class="container" >
  <div class="d-flex  align-items-up:0px justify-content-right text-right" style="height: 400px;  background-color: rgba(255, 255, 255, 0.859);">
    <div class="col-lg-3">
      <span class="subheading mb-2 aos-init aos-animate" data-aos="fade-up">Don't Hide Stress</span>
      <h1 class="heading mb-3 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">SPEAK UP!!</h1>
      <p class="mb-5 aos-init aos-animate font-style: MathSans" data-aos="fade-up" data-aos-delay="200" style="font-style: Fraktur;" ><p style="font-style: Fraktur; text-align: justify;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
      <p data-aos="fade-up" data-aos-delay="300" class="aos-init aos-animate"><a routerLink="Sign-in" class="btn btn-primary mr-2">Book Appointment</a>
      </div>
  <div class="col-lg-5"  >
    <img class="homeimage" src="assets/images/home1.jpeg" width="500px" height="400px "  >
  </div>
</div>
</div>
</div>
<h2 class="quote">"Healing takes time, and asking for <br> &nbsp; &nbsp; &nbsp; help is a courageous step" </h2>
<div class="container-2">
  <div class="img">
    <img class="homeimage1" src="https://img.freepik.com/premium-vector/crying-cartoon-woman-sitting-floor-hugging-knees-stressed-girl-touching-head-flat-vector-illustration-psychology-depression-mental-health-concept-banner-website-design-landing-web-page_179970-6370.jpg?w=1060" width="500px" height="400px" >
</div>
</div>
<div class="text1">
  <h1 class="h2" >SEEK HELP!!</h1><br>
  <p class="para font-style: MathSans " data-aos="fade-up" data-aos-delay="200" style="font-style: MathSans; padding-top: 10px;" ><p style="font-style: Fraktur; ;">Problems  Realted to Mental Health Should not be ignored Guide is a stress management guide for coping with adversity. The guide aims to equip people with practical skills to help cope with stress. A few minutes each day are enough to practice the self-help techniques.Far far away, behind the word mountains</p>
</div>

















